# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# ML data
app/data/raw_data.jsonl
app/data/dataset.csv

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Model cache
*.joblib

# Optional
node_modules/
